.yt-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.407);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 9999px;
  width: 80px;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  opacity: 0.9;
  border: rgba(255, 0, 0, 0.554) 1px solid;
}

.yt-play:hover {
  background: red;
  transform: translate(-50%, -50%) scale(1.1);
}

.yt-play:active {
  background: firebrick;
}

.yt-play__triangle {
  border-left: 20px solid rgba(255, 255, 255, 0.9);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  margin-left: 4px;
}