
/* :root{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
 
} */
body{
    display: flex;
    flex-direction: column;
}
.movie-card { 
  flex: 0 0 150px; 
  width: 150px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
   
}
.movie-card img{
  width: 100%;
  display: block;
  border-radius: 8px;
}

.gridMovie{
    display: flex;
    overflow-x:auto;
    padding: 0 12px;
    scroll-padding-left:20px;
    -webkit-overflow-scrolling: touch;
    gap: 12px;
}
.gridMovie > :first-child{ margin-left:20px;

}

.gridLoading{
    gap: 5px;
}
.pageTitle, .genreTitle {
  text-align: left;
  font-style: italic;
  margin: 0 0 12px 0;
  color: rgb(232, 232, 240);
}




