@scope(.wishlist){

    :scope{
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    
.icon-btn {
  all: unset;                  
  display: inline-grid;
  place-items: center;
  background: none;
  cursor: pointer;
 
}
.icon-btn:active {
     transform: translateY(5px); 
    } 
.heart-btn{
    width: 18px;
    height: 18px;
    stroke: currentColor; 
    color: #939496;   
    fill: #939496;       

}
.icon-btn--heart[aria-pressed="true"] .heart-btn {
  color: #980705;     
  fill: currentColor;           
}
.trash-btn{
    color:black;
}
.buttons{
    display: flex;
    justify-content: end;
    direction: row;
    gap: 0.5rem;
    padding: 1rem;

}
.card {
    display: grid;
    border-radius: 1rem;
    border: 2px solid white;
    background-color: beige;
    gap: 1rem;
    padding-left: 1rem;
}
.rubrik{
   text-align: center;
   margin: 16px 0 7rem; 
}
}