/* Container för alla produkter */
.parent {
  display: flex;
  flex-direction: column;
  gap: 12px;               /* mellanrum mellan rader */
}


.product-item {
  display: flex;
  flex-direction: row;     
  gap: 12px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  align-items: center;
}

.div-img img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.div-description {
    flex: 1;               
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}


.div-quantity {
  width: 60px;
  text-align: center;
  font-weight: bold;
color: black;
font-size:1.5rem;
}

.btn-payment {
  background-color: #28a745;     
  padding: 14px 0;                 
  width: 100%;                     
  border: none;                    
  border-radius: 9999px;           
  cursor: pointer;                 
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.green-btn:hover {
  background-color: #218838;       
  transform: scale(1.02);          
}

.green-btn:active {
  background-color: #1e7e34;       
  transform: scale(0.98);
}