
.modal {
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: right;   /* håller cart till vänster */
  align-items: center;         /* placerar längst ner */
  z-index: 1000;
  padding: 2rem;
  box-sizing: border-box;
  
}


.cart {

  max-width: 700px;    /*420*/
  width: 100%;
  max-height: 60%;
  background: antiquewhite;
  border-radius: 12px;
  /*padding: 1rem 1.25rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
  position: relative;
  color: antiquewhite;
  
}


.parent {
  display: block;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div-header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid #000;
  border-radius: 6px;
  background-color: #0851e2;
  color: white;
  
}

.div-shipping-cost {
  background: antiquewhite;
}

.div-shipping-cost p{
  
  background: antiquewhite;
}

.div-display-area {
  background: antiquewhite;
}

.payment {
  background: antiquewhite;
}
