
.modal {
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: right;   /* håller cart till vänster */
  align-items: center;         /* placerar längst ner */
  z-index: 1000;
  padding: 2rem;
  box-sizing: border-box;
 
  
}


.cart {
  max-width: 700px;    /*420*/
  width: 100%;
  max-height: 60%;
  background: antiquewhite;
  border-radius: 12px;
  /*padding: 1rem 1.25rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
  position: relative;
  color: antiquewhite;
   border: 1px solid rgb(249, 178, 27);
  
}


.parent {
  display: block;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div-header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  
  border-radius: 6px;
  background-color: rgba(0, 0, 0,);
  color: rgb(249, 178, 27);
  
}

.div-shipping-cost {

}


.div-display-area {
 
}

.payment {
display: block;
align-items: center;
justify-content: center;
  color: black;
}

.btn-payment {

  display: block;                  /* block så att margin fungerar */
  margin: 20px auto;               /* auto centrerar horisontellt */
  background-color: rgb(249, 178, 27);     
  padding: 14px;
  border: 2px solid black;
  border-radius: 9999px;
  cursor: pointer;
  text-align: center;
     
}
