.layout-container {
  padding: 16px;
}

.navbar {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-bottom: 1px solid;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
   top: 0;
  background: rgba(0,0,0,.8);
  /* margin-inline: auto; */
}

.navbar a {
  display: inline-flex;     
  align-items: center;
  text-decoration: none;
  /* color: rgb(255, 255, 255); */
  padding: 10px 15px;
  margin: 0 5px;
}



.navbar a:hover {
  text-decoration: underline;
}
.navCenter{
  justify-self: center;
  display: flex;
}
.linkIcon{
  display: flex;
  flex-direction: column;
}
.logoImg{
 justify-self: start;
 display: inline-flex;
 align-items: center;
 width: 120px;        
  height: auto;

}

/* Margin för content under navbar */
.content-wrapper {
  margin-top: 100px;
}


